@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.root {
  padding: 32px;
}

a {
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
}

.logo {
  width: 2.5rem;
  margin: 0 12px 0 0;
}

.illustration {
  max-width: 100%;
  display: flex;
}

.sc__bc {
  padding: 32px;
  position: relative;
  animation-name: moveright;
  animation-duration: 700ms;
  animation-direction: alternate;
}

@keyframes moveright {
  0% {
    left: -1300px;
  }
  100% {
    left: 0px;
  }
}

.twocolumn-sc {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  display: flex;
  align-items: center;
  padding-bottom: 6rem;
}

.container {
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-family: "Inter", sans-serif;
}

/* 
NAV LINK
 */

.nav__links {
  margin: 0 0px;
  padding: 0 px;
  display: flex;
  align-items: center;
}

.light__navlink-1 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #243e63;
  padding: 0 24px 0 48px;
}

.light__navlink {
  font-size: 1.125rem;
  font-weight: 600;
  color: #243e63;
  padding: 0 24px 0 0;
}

.list__nav-links {
  display: inline-block;
}

.light__primarylink {
  border: solid;
  border-radius: 100px;
  background-color: rgb(100 21 255);
  color: #fff;
  padding: 0.75rem 1rem;
}

.light__navlink--sign-up {
  border-radius: 18px;
  background-color: #6415ff;
  color: #f7fafc;
  font-size: 25px;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
}

.light__navlink--sign-up:hover {
  background-color: rgb(26, 41, 210);
  transition: all 200ms ease;
}

.light__navlink:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: blue;
  transition: all 300ms ease;
}

.light__desktopnavlinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  font-size: inherit;
  font-family: "Inter", sans-serif;

  height: 50px;
}

.light__navlink--sc {
  font-size: 1.5rem;
  font-weight: 900;
  color: purple;
  display: flex;

  justify-content: space-between;
  margin: 0 24px 0 0;
}

.light__navlink--sc:hover {
  color: blue;
  transition: all 300ms ease;
}

li {
  color: black;
  list-style-type: none;
}

.light__navlink--sign-up {
  list-style: none;
  text-decoration: none;
}

/*

HEADING INFO 

*/

.heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
  color: rgb(26 32 44);
}

.styled__span {
  color: rgb(100 21 255);
}

.left__column {
  margin: 0 22px;
  max-width: 40%;
  flex-direction: column;
}

.input__para {
  text-align: left;
  line-height: 1.5;
}

.proccess__id:hover {
  cursor: pointer;
  background-color: purple;
  transition: all 300ms ease;
}

.proccess__id {
  display: flex;
  flex-direction: row;
  width: 30%;
  align-items: center;
  right: 10px;
  top: 10px;
  bottom: 10px;
  justify-content: center;
  border-radius: 9999px;
  background-color: rgb(100 21 255);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 20px;
  color: #f7fafc;
  border-color: rgb(226, 232, 240);
  border: solid;
  position: absolute;
}

.input__action {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.E-mail {
  width: 100%;
  border-radius: 100px;
  border-width: 2px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  font-weight: 500;
  border: solid;
  border-color: lightgray;
  height: 70px;
}

.customer__logo {
  margin: 16px 0 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  opacity: 0.5;
}

.trusted__customers {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  --tw-text-opacity: 1;
  color: rgb(160 174 192);
  margin-bottom: 0;
  margin-top: 80px;
}

/*

FEATURES

*/

.threecolcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.threecolcontainer {
  padding-bottom: 96px;
  position: relative;
  animation-name: moveleft;
  animation-duration: 700ms;
  animation-direction: alternate-reverse;
}

@keyframes moveleft {
  0% {
    right: 0px;
  }
  100% {
    right: -1300px;
  }
}

.column-sc {
  display: flex;
  flex-flow: row;
  max-width: 24rem;
  width: 33.33%;
}

@media screen and (max-width: 1080px) {
  .column-sc {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .column-sc {
    width: 100%;
  }
}

.verticalspacer {
  width: 100%;
  margin-top: 2.5rem;
}

.highlighted__text-sc {
  color: rgb(100 21 255);
}

.description-sc {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  color: rgb(124 139 161);
  width: 100%;
  max-width: 36rem;
  font-size: 1.125rem;
  font-family: "Inter", sans-serif;
}

/* Features */

.subheading-sc {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6415ff;
  font-size: large;
}

.heading-sc {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  width: 100%;
  color: rgb(36 62 99);
}

.card-sc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0.5rem;
}

.box__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1080px;
  padding: 24px;
  justify-content: center;
}

.img__container {
  border-radius: 10000px;
  border: 2px solid grey;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 20px;
  border-color: rgb(226, 232, 240);
}

.text__container {
  padding-left: 20px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 2em;
}

.title {
  font-size: 25px;
  padding: 20px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

/*

Quality work

*/

.landingpage__subheading-sc {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: rgb(100 21 255);
}

.twocolbutton__styled--span {
  color: rgb(100 21 255);
}

.twocolbutton__container {
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
}

.twocolbutton__column-sc {
  width: 50%;
  position: relative;
}

.ladingpage__subheading-sc {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: rgb(100 21 255);
}

.twocolbutton__description-sc {
  margin-top: 1rem;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(124 139 161);
}

.img-sc {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
  border: solid 1px rgb(226, 232, 240);
}

h2 {
  margin-top: 1rem;
  text-align: left;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.25;
  color: rgb(36 62 99);
  max-width: 535px;
}

.primary__button {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625;
  padding: 0.75rem 2rem;
  color: white;
  background-color: rgb(100 21 255);
  border-radius: 9999px;
}

.primary__button:hover {
  cursor: pointer;
  background-color: purple;
  transition: all 300ms ease;
}

.TwoColButton__DecoratorBlob {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -10;
  height: 5rem;
  width: 5rem;
  --tw-translate-x: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: 50%;
  fill: currentcolor;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
}

/* Steps */

.twocolsteps__container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 96px;
  padding-bottom: 96px;
}

.highlightedtext-sc {
  color: rgb(100 21 255);
  display: inline-block;
}

.heading--sc {
  display: inline-block;
  margin-top: 16px;
  width: 100%;
  max-width: 1024px;
  tab-size: 4;
  font-family: Inter, system-ui;
  letter-spacing: 0.025em;
  font-weight: 900;
  line-height: 1.25;
  font-size: 3rem;
}

.TwoColWithSteps__DecoratorBlob-sc {
  position: absolute;

  z-index: -10;
  fill: currentcolor;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
  left: 25%;
  opacity: 0.15;
  height: 10rem;
  width: 10rem;
}

.twocolsteps__img--sc {
  line-height: inherit;
  font-family: Inter, system-ui;
  --tw-text-opacity: 1;
  color: rgb(36 62 99 / var(--tw-text-opacity));
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

.twocolsteps__twocolumn--sc {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1280px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 6rem;
 
}

.twocolsteps__column--sc {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  max-width: 1280px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.twocolsteps__textcontent--sc {
  width: 50%;
  margin-left: 64px;
}

.subheading {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: rgb(100 21 255);
  text-align: left;
}

.steps--number {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(203 213 224);
  margin-top: 2rem;
}

.steps--sc {
  display: flex;
}

.stepsheading {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  color: rgb(36 62 99);
  margin-top: 2rem;
}

.stepsdescription {
  margin-top: 0.75rem;
  max-width: 20rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
  --tw-text-opacity: 1;
  color: rgb(113 128 150 / var(--tw-text-opacity));
}

.stepstext {
  margin-left: 1.5rem;
}


/*  

values

*/

.img {
  max-width: 100%;
  margin-top: 140px;
}

.horizontalfeatures{
  display: flex;
}

.twohorizontalfeatures--sc {
  padding-top: 96px;
}

.landingpage__productsubheading--sc {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgb(100 21 255);
}

.twofeaturesproduct__description--sc {
  margin-top: 2rem;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625;
  color: rgb(124 139 161);
}

.feather-dollar-sign{
 align-items: center;
 vertical-align: middle;
}

.styledfeature__icon--sc {
  background-color: rgb(154 230 180);
    color: rgb(39 103 73);
   width:2rem;
   height: 2rem;
    display: inline-block;
    flex-shrink: 0;
    padding: 0.5rem;
   align-items: center;
    border-radius: 9999px;
    border-width: 0px;
    
}

.icon__affordableprofessionalism--container {
  display: flex;
}

.twocol--horizontalfeatures__container{
  display: flex;
  flex-direction: row;
  width: 50%;
}

.twofeatureheading__container--sc {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.twofeaturesproduct__container--sc{
  display: flex;
}

.twofeatureproduct__image--sc {
  width: 50%;
  max-width: 1280px;
}